<center>
<p> <a class="w3-button w3-white w3-text-black" href="/upload"><i class="fa fa-upload" aria-hidden="true"></i>&nbspUpload</a> </p>
<p> <a class="w3-button w3-white w3-text-black" href="/download"><i class="fa fa-download" aria-hidden="true"></i>&nbspDownload</a> </p>
</center>